# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Packaging
dist/
build/
*.egg-info/

# Outputs
out/
outputs/
results/
logs/
scripts/

# OS
.DS_Store
Thumbs.db

# documentation
docs/*
!docs/REFINE_DESIGN.md
!docs/ARCHITECTURE.md
!docs/HGVAE_EMBEDDING_STRATEGY.md
